<h2>TinyApp</h2>
<small>A URL shortener</small>
<nav>
  <ul>
    <% if (!email) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } else { %>
      <li>Howdy, <%= email %></li>
      <li><a href="/urls">My links</a></li>
      <li>
        <form method="POST" action="/logout">
          <button id="logout" type="Submit">Logout</button>
        </form>
      </li>
    <% } %>
  </ul>
</nav>
