<h2>TinyApp</h2>
<small>A URL shortener</small>
<nav>
  <ul>
    <% if (!email) { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <% } else { %>
        <li>Howdy, <%= email %></li>
        <li><a href="/urls">Index</a></li>
        <li><a href="/urls/new">New</a></li>
        <li>
        <form method="POST" action="/logout">
          <input id="logout" type="Submit" value="Logout">
        </form>
      </li>
        <% } %>
  </ul>
</nav>
