<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
    <p>
      http://localhost:<%= port %>/urls/<%= shortURL %> -- <%= urls[shortURL] %>
    </p>
  </main>
</body>
</html>
