<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
  <h1> Your Short URLs </h1>
    <ul id="#urls">
      <% for (url in urls) { %>
      <li>http://localhost:<%= port %>/urls/<%= url %> -- <%= urls[url] %>
        <form method="POST" action="/urls/<%= url %>/delete">
          <input id="shortURL" type="Submit" value="Delete">
        </form>
      <% } %>
    </ul>
  <button>Shorten New Link</button>
  </main>
</body>
</html>
