<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
    <form method="POST" action="/urls/<%= shortURL %>">
      <label for="longURL"><h1>Update ShortURL <%= shortURL %></h1></label>
      <input id="longURL" type="text" name="longURL" value="<%= longURL %>">
      <button type="submit">Update</button>
    </form>
    <form method="POST" action="/urls/<%= shortURL %>/delete">
      <button id="shortURL" type="Submit">Delete</button>
    </form>
  </main>
</body>
</html>
