<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
  <h1> Your ShortURLs </h1>
    <!-- <form id="#search" method="GET" action="/urls"> -->
      <!-- <label for="shortURL">Search</h1></label> -->
      <!-- <input id="shortURL" type="text" name="search"> -->
      <!-- <input type="Submit" value="Search"> -->
    <!-- </form> -->
    <ul id="urls">
      <% urls.forEach((url) => { %>
        <li><%= url.id %> --> <%= url.url %>
          <a href="/urls/<%= url.id %>">Edit</a>
          <form method="POST" action="/urls/<%= url.id %>/delete">
            <input id="shortURL" type="Submit" value="Delete">
          </form>
      <% }); %>
    </ul>
  <a href="/urls/new">Create new ShortURL</a>
  </main>
</body>
</html>
